  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;700&family=Roboto&family=Urbanist:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,900;1,700;1,800&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;700&family=Poppins:wght@200;300;400;600&family=Roboto&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100;200;300;400;500;700&family=Crete+Round&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}

.header {
  display: flex;
  height: 72px;
  width: 375px;
  left: 0px;
  top: 0px;
  justify-content: space-between;
  align-items: center;
  background: #3c3a39;
  color: white;
  padding: 20px;
}

span {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
}

main {
  height: 590px;
  width: 375px;
  left: 0px;
  top: 92px;
  border-radius: 0px;
  padding: 120px 24px 120px 24px;
  background: #1C1a19;
  color: #fff;
  background-image: url(./assets/Group.png);
  background-repeat: no-repeat;
  background-position: right 19rem;
}

.main {
  height: 124px;
  width: 327px;
  left: 24px;
  top: 120px;
  border-radius: nullpx;
  display: flex;
  flex-direction: column;
  gap: 10px;    
}

h1 {
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

p {
  font-family: 'Poppins', sans-serif;
}

.text-top {
  width: 327px;
  height: 27px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
  flex: none;
  order: 1;
  flex-grow: 0;
  font-family: 'Roboto', sans-serif;
}

.text-down {
  width: 327px;
  height: 123px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  flex: none;
  order: 2;
  flex-grow: 0;
}

  .icons {
  order: 3;
}

.icons img {
  padding: 5px;
}

.icons img:hover{
  cursor: pointer;
}
